{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/css/style.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

</head>
<body id="background">
	<div class="container-fluid" style="width: 200px;">

		<a href="/weather/calendar/" class="btn default fa fa-cog fa-3x" style="color:white" id="left-panel-link" role="button" aria-pressed="true"></a>

		<a href="/weather/calendar/" class="btn default fa fa-cog fa-3x" style="color:white" id="right-panel-link" role="button" aria-pressed="true"></a>
	
	</div>
	<p></p>
	<div class="container-fluid form-control-static" id="rectangle">
		<div class="row">
			<div class="col col-md-1" style="color:red">C</div>
			<div class="col col-md-1" style="color:orange">O</div>
			<div class="col col-md-1" style="color:">L</div>
			<div class="col col-md-1">O</div>
			<div class="col col-md-1 text-success">R</div>
			<div class="col col-md-1 text-info">F</div>
			<div class="col col-md-1 text-primary">U</div>
			<div class="col col-md-1 ">L</div>
			<div></div>
			<div class="col col-md-1 text-dark">L</div>
			<div class="col col-md-1 text-dark">I</div>
			<div class="col col-md-1 text-dark">F</div>
			<div class="col col-md-1 text-dark">E</div>
			<!--<p style="color:red"> C <span></span> <p style="color:orange"> O </p>-->
		</div>
	</div>
	<p></p>
	<div class="container-fluid" id="rectangle2">
		<div class="row">
			<div class="col col-md-2"></div> 
			<div class="col col-md-2"></div> 
			<div class="col col-md-2"></div> 
			<div class="col col-md-2"></div> 
	</div>
	<p></p>
	<div class="container-fluid" id="rectangle2">

	</div>
	<p></p>
	<div class="container-fluid" id="rectangle2">

	</div>
</body>
</html>
