{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<link rel="stylesheet" type="text/css" href="{% static 'coloring/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static 'coloring/css/style.css' %}" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

</head>
<body id="background">
	<div class="container-fluid" style="width: 200px;">

		<a href="#">
			<img src="../static/coloring/images/login-icon.png" class="btn default fa fa-cog" style="color:white" id="left-panel-link" role="button" aria-pressed="true">
		</a>

		<a href="/coloring/setting/" class="btn default fa fa-cog fa-3x" style="color:white; height:20%" id="right-panel-link" role="button" aria-pressed="true"></a>
	
	</div>
	<p></p>
	<div class="container-fluid" id="rectangle">
		<div class="row" style = "height:100%; margin:auto">
			<h1 class="col col-md-1" style="color:red">C</h1>
			<h1 class="col col-md-1" style="color:orange">O</h1>
			<h1 class="col col-md-1" style="color:coral">L</h1>
			<h1 class="col col-md-1" style="color:yellow">O</h1>
			<h1 class="col col-md-1" style="color:green">R</h1>
			<h1 class="col col-md-1" style="color:blue">F</h1>
			<h1 class="col col-md-1" style="color:darkblue">U</h1>
			<h1 class="col col-md-1" style="color:purple">L</h1>
			<h1 class="col col-md-1 text-dark">L</h1>
			<h1 class="col col-md-1 text-dark">I</h1>
			<h1 class="col col-md-1 text-dark">F</h1>
			<h1 class="col col-md-1 text-dark">E</h1>
			<!--<h1 style="color:red; font-weight:normal; font-size:100px; text-align:left; margin:auto"> C </h1><span>&nbsp;</span> <h1 style="color:orange"> O </h1>-->
		</div>
	</div>
	<p></p>
	<div class="container-fluid" id="rectangle2">
		<h3 style="color:gray">START A NEW ARTWORK:</h3>
		<div class="row" style = "height:90%; margin:auto">
			<img src="../static/coloring/images/blank.png" class="col-3 mr-auto" style="height:90%;" id="blank">
			<img src="../static/coloring/images/blank-with-reference.png" class="col-3 mr-auto" style="height:90%;" id="blankWithReference">
			<img src="../static/coloring/images/as-reference.png" class="col-3 mr-auto" style="height:90%;" id="asReference">
			<img src="../static/coloring/images/random-template.png" class="col-3 mr-auto" style="height:90%;" id="randomTemplate">
		</div>

	</div>
	<p></p>
	<div class="container-fluid" id="rectangle2">
		<h3 style="color:gray">TEMPLATES OF THE WEEK:</h3>
		<div class="row" style = "height:90%; margin:auto">
			<img src="../static/coloring/images/rose-icon.png" class="col-3 mr-auto" style="height:90%;" id="rose">
			<img src="../static/coloring/images/minion-icon.png" class="col-3 mr-auto" style="height:90%;" id="minion">
			<img src="../static/coloring/images/forest-fairy-icon.png" class="col-3 mr-auto" style="height:90%;" id="forestFairy">
			<img src="../static/coloring/images/flower-mandala-icon.png" class="col-3 mr-auto" style="height:90%;" id="flowerMandala">
		</div>

	</div>
	<p></p>
	<div class="container-fluid" id="rectangle2">
		<h3 style="color:gray">PREVIOUS ARTWORKS:</h3>
		<div class="row" style = "height:90%; margin:auto">
			<img src="../static/coloring/images/untitled-icon.png" class="col-3 mr-auto" style="height:90%;" id="untitled">
			<img src="../static/coloring/images/my-dog-icon.png" class="col-3 mr-auto" style="height:90%;" id="myDog">
			<img src="../static/coloring/images/mountain-shasta-icon.png" class="col-3 mr-auto" style="height:90%;" id="mountain">
			<img src="../static/coloring/images/leaf-doodle-icon.png" class="col-3 mr-auto" style="height:90%;" id="leafDoodle">
		</div>

	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			$('#left-panel-link').click(function(){
				location.href = "/coloring/account/";
			});
			$('#blank').click(function(){
				location.href = "/coloring/sketch/";
			});
			$('#blankWithReference').click(function(){
				location.href = "/coloring/reference/";
			});
			$('#asReference').click(function(){
				location.href = "/weather/calendar/";
			});
			$('#randomTemplate').click(function(){
				location.href = "/weather/calendar/";
			});
			$('#rose').click(function(){
				location.href = "/weather/calendar/";
			});
			$('#minion').click(function(){
				location.href = "/weather/calendar/";
			});
			$('#forestFairy').click(function(){
				location.href = "/weather/calendar/";
			});
			$('#flowerMandala').click(function(){
				location.href = "/coloring/new_interaction/";
			});
			$('#untitled').click(function(){
				location.href = "/weather/calendar/";
			});
			$('#myDog').click(function(){
				location.href = "/weather/calendar/";
			});
			$('#mountain').click(function(){
				location.href = "/weather/calendar/";
			});
			$('#leafDoodle').click(function(){
				location.href = "/weather/calendar/";
			});
		});
	</script>
</body>
</html>
