
@font-face {
    font-family: Bebas;
    src: url(Bebas.ttf);
}

@font-face {
    font-family: Rubik_Light;
    src: url(Rubik-Light.ttf);
}

p {
    padding-bottom: 70px;
}

h1 {
    font-family: 'CustomFont', Rubik_Light;
    font-size: 60px;
}

h2 {
    font-family: 'CustomFont', Rubik_Light;
    font-size: 30px;
}

h3 {
    font-family: 'CustomFont', Bebas;
    font-size: 30px;
}


.fa-cog{text-shadow:-4px 4px 2px rgba(0, 0, 0, 0.25)}


#rectangle {
    margin: auto;
    width: 90%;
    height: 93px;
    left: 41px;
    top: 66px;

    background: #FFFFFF;
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 28px;
}

#rectangle2 {
    margin: auto;
    width: 90%;
    height: 280.59px;
    left: 41px;
    top: 200.4px;

    background: #FFFFFF;
    box-shadow: -4px 4px 2px rgba(0, 0, 0, 0.25);
    border-radius: 26.1011px;
}

#rectangle3 {
    position: absolute;
    width: 135.17px;
    height: 189.23px;
    left: 70.03px;
    top: 254.47px;

    border: 1.86436px solid #B3B3B3;
    box-sizing: border-box;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: rgba(213, 213, 213, 0.5);
}

#right-panel-link {
    position: absolute;
    top: 0;
    right: 0;
}
  
#left-panel-link {
    position: absolute;
    top: 0;
    left: 0;
}
  
#background2 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;

    background: white;
}

#account {
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.44em;

    color: #000000;
}

#acc-rectangle1 {
    margin: auto;
    width: 90%;
    height: 93px;
    left: 41px;
    top: 66px;

    background: #FFFFFF;
    border: 1.64103px solid #D5D5D5;
    box-sizing: border-box;
}

#acc-rectangle2 {
    margin: auto;
    width: 90%;
    height: 980px;
    left: 41px;
    top: 200.4px;

    background: #FFFFFF;
    border: 1.64103px solid #D5D5D5;
    box-sizing: border-box;
}

#acc-rectangle3 {
    margin: auto;
    width: 90%;
    height: 1020px;
    left: 41px;
    top: 200.4px;

    background: #FFFFFF;
    border: 1.64103px solid #D5D5D5;
    box-sizing: border-box;
}

#acc-inner1 {
    margin: auto;
    width: 80%;
    height: 60px;
    left: 36px;
    top: 274px;

    background: #D5D5D5;
    border: 4px solid #D5D5D5;
    box-sizing: border-box;
    border-radius: 28px;
}

#hbar-link {
    position: absolute;
    top: 0;
    left: 100px;
}

#vbar-link {
    position: absolute;
    left: 0;
    bottom: 100px;
}

#palette-link {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

#reference-link {
    position: absolute;
    top: 10px;
    right: 10px;
}